*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: Arial, sans-serif;
}

.navbar {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 20px;
}

.logo-container {
    padding-right: 20px;
    padding-left: 85px;
}

.logo {
    width: 110px;
    height: 80px;
}

.nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-right: 95px;
}

.nav-list li {
    margin-right: 26px;
}

.nav-list li:last-child {
    margin-right: 0;
}

@font-face {
    font-family: 'font-nav';
    src: url(../fonts/AlegreyaSans-Medium.ttf);
}
.nav-list a {
    font-family: 'font-nav';
    font-size: 22px;
    text-decoration: none;
    color: #000000;
    padding: 7px;
    border: 1px solid transparent;
}

.nav-list a:hover {
    background-color: #4759FF;
    border-radius: 20px;
    color: white;
}


.hero{
    display: flex;
    width: 100%;
    height: 100vh;    
    flex-direction: column;
    animation-name: fondo;
    transition: all .5s !important;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    background-image: url(/assets/fotohome1.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    animation-delay: 2s;
}

/*SECCION ANIMACION SLIDER*/

@keyframes fondo{
    50%{
        background-image: url("/assets/fotohome2.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    

    100%{
        background-image: url("/assets/fotohome3.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}

.hero .content-home{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    
}

.hero .content-home .welcome-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 30px;
}

.hero .content-home .search-navigation{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    gap: 5px;  
    
}

.hero .content-home .search-navigation .searching{
    
}

.hero .content-home .selection-home{
    display: flex;
}

.hero .content-home .search-navigation .searching .advanced-searching{
    display: flex;
    padding: 5px 20px 5px 20px;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    justify-content: flex-end;
    align-items: flex-end;

}

.hero .content-home .search-navigation .selection-home{
    display: flex;
    gap: 8px;
    
}

.hero .content-home .search-navigation .selection-home #seleccion{
    border: none;
    padding: 20px 140px 20px 140px;
    background-color: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.hero .content-home .search-navigation .selection-home #seleccionTwo{
    border: none;
    padding: 20px 140px 20px 140px;
    background-color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.hero .content-home .seccionBotonesAzules{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.hero .content-home .seccionBotonesAzules a{
    padding: 30px 50px 30px 50px;
    border-radius: 20px;
    color: white;
    background-color: #4759ff;
}

.hero .content-home .seccionBotonesAzules .lupa{
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    color: #4759ff;
    background-color: white;
    font-size: 40px;
}